// COLORS
$color-primary: #C72C41;
$color-primary-light: #EE4540;
$color-primary-dark: #801336;

$color-secondary-light: #510A32;
$color-secondary-dark: #2D142C;

$color-tertiary-light: #37474F;
$color-tertiary-dark: #222222;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000; 

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// FONT SIZES
$default-font-size: 1.6rem;